{% extends 'main.html' %}

{% block content %}
<div class="container mx-auto mt-8">

    <div class="flex justify-between items-start mb-6">
        <!-- Transaction Table -->
        <h1 class="text-4xl font-bold">Status Pemesanan</h1>

        <div class="flex flex-col space-y-4">
            <!-- Success Message Box -->
            <div id="successBox"
                class="hidden bg-green-100 border border-green-400 text-green-700 px-4 py-3 rounded-xl w-64">
                <p id="successMessage"></p>
            </div>
            <!-- Error Message Box -->
            <div id="errorBox" class="hidden bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded-xl w-64">
                <p id="errorMessage"></p>
            </div>
        </div>
    </div>

    <div class="bg-white rounded-lg shadow-md p-6">
        {% if orders %}
        <div class="overflow-x-auto shadow-md rounded-lg text-xs">
            <table class="min-w-full bg-white shadow-md rounded-lg overflow-hidden">
                <thead>
                    <tr>
                        <th
                            class="py-2 px-4 border-b border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600">
                            ID Resi</th>
                        <th
                            class="py-2 px-4 border-b border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600">
                            Tanggal</th>
                        <th
                            class="py-2 px-4 border-b border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600">
                            Items</th>
                        <th
                            class="py-2 px-4 border-b border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600">
                            Distributor</th>
                        <th
                            class="py-2 px-4 border-b border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600">
                            Total Harga</th>
                        <th
                            class="py-2 px-4 border-b border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600">
                            Lama Pengiriman</th>
                        <th
                            class="py-2 px-4 border-b border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600">
                            Aksi</th>
                    </tr>
                </thead>
                <tbody>
                    {% for order_id, order in orders.items() %}
                    <tr>
                        <td class="py-2 px-4 border-b border-gray-200">{{ order.no_resi }}</td>
                        <td class="py-2 px-4 border-b border-gray-200">{{ order.date }}</td>
                        <td class="py-2 px-4 border-b border-gray-200">
                            {% for item in order.cart %}
                            {{ item.product_name }} ({{ item.quantity }})<br>
                            {% endfor %}
                        </td>
                        <td class="py-2 px-4 border-b border-gray-200">{{ order.id_distributor }}</td>
                        <td class="py-2 px-4 border-b border-gray-200">
                            Rp{{ "{:,}".format(order.total_price|int + order.harga_pengiriman|int) }}</td>
                        <td class="py-2 px-4 border-b border-gray-200">{{ order.lama_pengiriman }}</td>
                        <td class="py-2 px-4 border-b border-gray-200">
                            <button
                                onclick="event.preventDefault(), trackOrder('{{ order.id_distributor }}', '{{ order.no_resi }}')"
                                class="bg-yellow-400 text-white rounded-md py-2 px-4 text-sm font-semibold hover:bg-yellow-500 transition duration-300 ease-in-out focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-yellow-400">
                                Track Order
                            </button>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% else %}
        <p class="text-center text-gray-500">Tidak ada pemesanan saat ini.</p>
        {% endif %}
    </div>
</div>

<!-- Tracking Modal -->
<div id="checkoutModal" class="fixed inset-0 bg-gray-600 bg-opacity-50 hidden items-center justify-center">
    <div class="bg-white p-8 rounded-lg shadow-xl">
        <h2 class="text-2xl font-bold mb-4">Tracking Pesanan</h2>
        <div id="orderDetails"></div>
        <div class="mt-4 flex justify-end">
            <button id="confirmButton" onclick="confirmOrder('{{ order_id }}')"
                class="bg-[#40DDC1] text-white rounded-md py-2 px-4 text-sm font-semibold hover:bg-[#33b89d] transition duration-300 ease-in-out focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-[#40DDC1]"
                disabled>
                Konfirmasi Barang Sampai
            </button>
        </div>
    </div>
</div>

<script>
    function showSuccess(message) {
        const successBox = document.getElementById('successBox');
        const successMessage = document.getElementById('successMessage');
        successMessage.textContent = message;
        successBox.classList.remove('hidden');
        setTimeout(() => {
            successBox.classList.add('hidden');
        }, 3000);
    }

    function showError(message) { // Menambahkan fungsi showError
        const errorBox = document.getElementById('errorBox'); // Pastikan ID errorBox ada
        const errorMessage = document.getElementById('errorMessage'); // Pastikan ID errorMessage ada
        errorMessage.textContent = message;
        errorBox.classList.remove('hidden');
        setTimeout(() => {
            errorBox.classList.add('hidden');
        }, 3000);
    }

    function openModal() {
        const modal = document.getElementById('checkoutModal');
        modal.style.display = 'flex';
        modal.style.backgroundColor = 'rgba(0, 0, 0, 0.5)';
    }

    function closeModal(event) {
        const modal = document.getElementById('checkoutModal');
        if (event.target === modal) {
            modal.style.display = 'none';
            modal.style.backgroundColor = 'transparent'; // atau 'initial'
        }
    }

    document.getElementById('checkoutModal').addEventListener('click', closeModal);

    async function trackOrder(idDistributor, noResi) {
        console.log(`${idDistributor} dan ${noResi}`);

        const response = await fetch('/api/track/order', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({
                'id_distributor': idDistributor,
                'no_resi': noResi
            })
        });

        distributorData = await response.json();

        const orderDetails = document.getElementById('orderDetails');
        const confirmButton = document.getElementById('confirmButton');

        if (distributorData.status === "Arrived") {
            confirmButton.className =
                "bg-[#40DDC1] text-white rounded-md py-2 px-4 text-sm font-semibold hover:bg-[#33b89d] transition duration-300 ease-in-out focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-[#40DDC1]";
            confirmButton.disabled = false;
        } else {
            confirmButton.className =
                "bg-black text-white rounded-md py-2 px-4 text-sm font-semibold cursor-not-allowed";
            confirmButton.disabled = true;
        }

        if (distributorData) {
            orderDetails.innerHTML = `
                <p>No Resi: ${distributorData.no_resi}</p>
                <p>Lama Pengiriman: ${distributorData.lama_pengiriman}</p>
                <p>Status: ${distributorData.status}</p>
            `;
            openModal(); // Show the modal after updating the content
        } else {
            showError('Order not found.');
        }

    }

    function confirmOrder(orderId) {
        fetch('/api/confirm_order', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({
                    order_id: orderId
                }),
            })
            .then(response => {
                if (!response.ok) {
                    throw new Error('Network response was not ok');
                }
                return response.json();
            })
            .then(data => {
                if (data.message) {
                    showSuccess(data.message);
                    setTimeout(() => {
                        location.reload(); // Reload the page to reflect the changes
                    }, 3000);
                } else {
                    showSuccess('Error: ' + data.error);
                }
            })
            .catch((error) => {
                console.error('Error:', error);
                showSuccess('An error occurred while confirming the order: ' + error.message);
            });
    }
</script>
{% endblock %}